body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

:root {
  --primary-color: #0A2647;
  --secondary-color: #144272;
  --secondary-light: #205295;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}